.table-legend{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 768px) {
    .table-legend{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.info img{
    width: 1.5rem;
    height: 1.5rem;
}