<div class="general-container vh-100">
    <aside class="aside nav-items">
        <div class="aside-content">
            <a routerLink="tables" routerLinkActive="active" class="link">
                <div>
                    <img class="icon" src="/assets/icons/home.png" alt="">
                </div>
                <p>Inicio</p> 
            </a>
            <a routerLink="orderlist" routerLinkActive="active" class="link">
                <div>
                    <img class="icon" src="/assets/icons/home.png" alt="">  
                </div>
                <p>Pedidos</p> 
            </a>
        </div>
    </aside>
    <main class="h">
        <router-outlet></router-outlet>
    </main>
</div>