<div class="order-container">
    <div class="lateral-nav">
        <nav>
            <a href="" class="link">
                <img class="icon" src="/assets/icons/user-default.png" alt="">
                <p>Inicio</p> 
            </a>
            <a href="" class="link">
                <img class="icon" src="/assets/icons/user-default.png" alt="">
                <p>Pedidos</p> 
            </a>
        </nav>
    </div>
    <div class="content">
        <app-mesas></app-mesas>
    </div>
</div>
