<div class="header">
    <a id="logo" routerLink="/">Solar Marino</a>
    <div class="module-nav">
        <p>MODULO DE </p>
        <nav class="nav">
            <a *smShowForRoles="['Orders', 'Manager']" routerLink="/orders">Pedidos</a>
            <a *smShowForRoles="['Kitchen', 'Manager']" routerLink="/kitchen">Cocina</a>
            <a *smShowForRoles="['Customer', 'Manager']" routerLink="/customer">Clientes</a>
        </nav>
    </div>
    <div class="user-row">
        <span class="separator"></span>
        <p>{{user?.username}}</p>
        <img src="/assets/icons/user-default.png" alt="">
        <button (click)="logout()">
            <img src="/assets/icons/logout.svg" alt="" />
            Salir
        </button>
    </div>
</div>