<div class="p-4 w-full relative  overflow-x-scroll md:overflow-hidden">
    <table class="w-full text-center text-sm text text-gray-500 mx-auto">
        <thead class="text-xs text-white uppercase bg-sky-950">
            <tr>
                <th *ngFor="let h of headers" scope="col" class="px-4 py-3">
                    {{h}}
                </th>
                <th *ngIf="hasActions" scope="col" class="px-2 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of body" class="bg-white border-b">
                <th *ngFor="let bb of b"  scope="row" class="px-2 py-4">
                    {{bb}}
                </th>
                <td *ngIf="hasActions" class="px-2 py-4">
                    <div class="flex flex-row items-center justify-center gap-4">
                        <!--<div class="tooltip-custom">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-500 hover:cursor-pointer hover:fill-yellow-800">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                            <p class="tooltiptext bg-yellow-500 left-[-5px]">Editar</p>  
                        </div>
                        <div class="tooltip-custom">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                            </svg>
                            <p class="tooltiptext bg-green-500 left-[0px]">Alta</p>  
                        </div>
                        <div class="tooltip-custom">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                            </svg>  
                            <p class="tooltiptext bg-red-500 left-[-10px]">Eliminar</p>  
                        </div>-->                                   
                        <!--<button type="button" class="px-3 py-2 text-xs font-medium text-center text-white bg-green-500 rounded-lg hover:bg-green-800 focus:bg-green-900 dark:bg-green-200 dark:hover:bg-green-400 dark:focus:ring-green-400">Emitir</button>-->
                    </div>
                    <div id="tooltip-see" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-green-700 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        ver
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>