<div class="px-10 py-3">
    <div class="flex justify-between items-center my-3">
        <h3 class="text-gray-400 text-lg">Usuarios Registrados</h3>
        <a routerLink="registrar" class="w-[200px] flex justify-center gap-2 bg-green-500 rounded-md px-3 py-2 hover:bg-green-700 hover:cursor-pointer text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z" />
            </svg>      
            Agregar        
        </a>
    </div>
    <div class="rounded-md border border-gray-100  bg-white shadow p-[15px]">
        <div class="w-full relative  overflow-hidden">
            <table class="w-full text-center text-sm text text-gray-500 mx-auto">
                <thead class="text-xs text-white uppercase bg-sky-950">
                    <tr>
                        <th scope="col" class="px-4 py-3">
                            Foto
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Codigo
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Nombres y Apellidos
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Telefono
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Rol
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Fecha Contrato
                        </th>
                        <th scope="col" class="px-2 py-3">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/mujer.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b hover:cursor-pointer">
                        <td class="px-4 py-3">
                            <img class="mx-auto w-[40px]" src="./assets/icons/hombre.png" alt="masculino">
                        </td>
                        <td class="px-2 py-3">
                            75137668
                        </td>
                        <td class="px-2 py-3">
                            Javier Eduardo Valle Romero
                        </td>
                        <td class="px-2 py-3">
                            987654321
                        </td>
                        <td class="px-2 py-3">
    
                            Admin
                        </td>
                        <td class="px-2 py-3">
                            10/08/2021
                        </td>
                        <td class="px-2 py-3">
                            <div class="flex flex-row gap-4 items-center justify-center">
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-yellow-400 hover:cursor-pointer hover:fill-yellow-600">
                                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                                    </svg>          
                                    <p class="tooltiptext bg-yellow-400 left-[-8px]">Editar</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-green-500 hover:cursor-pointer hover:fill-green-800">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />    
                                    </svg>  
                                    <p class="tooltiptext bg-green-500 left-[1px]">Alta</p>                        
                                </div>
                                <div class="tooltip-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                        <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                    </svg>  
                                    <p class="tooltiptext bg-red-500 left-[-2px]">Baja</p>  
                                </div>  
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="false" class="border-b w-full py-3 px-4 text-gray-400 text-center">
                <p>No se han registrado pedidos aun</p>
            </div>
        </div>
    </div>
</div>