<div class="p-4 w-full h-full flex flex-col gap-4">
    <div class="row-start-1 row-end-2 w-11/12 mx-auto grid grid-cols-1 md:grid-cols-2 gap-y-4 lg:flex lg:flex-row  justify-center items-center gap-x-10">
        <div class="relative p-2 w-[250px] h-[150px] md:w-[280px] md:h-[180px] mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="absolute top-[-10px]">
                <img src="./assets/icons/caja-registradora.png" alt="" class=" ">
            </div>
            <div class="text-lg absolute left-0 right-0 top-[40%]">
                <p class="text-gray-500 pl-5">Texto:</p>
                <p class="text-black font-semibold pr-5 text-end">1</p>
            </div>
            <div class="absolute flex items-center gap-1 text-gray-200 bottom-0 left-3 w-[90%] border-t border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
                <p class="text-xs py-1">Actualizado a las <span class="font-semibold">10:00am</span></p>
            </div>
        </div>
        <div class="relative p-2 w-[250px] h-[150px] md:w-[280px] md:h-[180px] mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="absolute top-[-10px]">
                <img src="./assets/icons/mesa-redonda.png" alt="" class=" ">
            </div>
            <div class="text-lg absolute left-0 right-0 top-[40%]">
                <p class="text-gray-500 pl-5">Texto:</p>
                <p class="text-black font-semibold pr-5 text-end">1</p>
            </div>
            <div class="absolute flex items-center gap-1 text-gray-200 bottom-0 left-3 w-[90%] border-t border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
                <p class="text-xs py-1">Actualizado a las <span class="font-semibold">10:00am</span></p>
            </div>
        </div>
        <div class="relative p-2 w-[250px] h-[150px] md:w-[280px] md:h-[180px] mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="absolute top-[-10px]">
                <img src="./assets/icons/metodo-de-pago.png" alt="" class=" ">
            </div>
            <div class="text-lg absolute left-0 right-0 top-[40%]">
                <p class="text-gray-500 pl-5">Texto:</p>
                <p class="text-black font-semibold pr-5 text-end">1</p>
            </div>
            <div class="absolute flex items-center gap-1 text-gray-200 bottom-0 left-3 w-[90%] border-t border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
                <p class="text-xs py-1">Actualizado a las <span class="font-semibold">10:00am</span></p>
            </div>
        </div>
    </div>
    <div>
        <div class="p-2 w-11/12 mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="w-full relative  overflow-hidden">
                <table class="w-full text-center text-sm text text-gray-500 mx-auto">
                    <thead class="text-xs text-white uppercase bg-sky-950">
                        <tr>
                            <th scope="col" class="px-4 py-3">
                                # Operacion
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Flujo
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Monto
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Fecha y Hora
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b hover:bg-gray-200 hover:text-black hover:cursor-pointer">
                            <td class="px-2 py-3">
                                01
                            </td>
                            <td class="px-2 py-3">
                                Pago a Persona X
                            </td>
                            <td class="px-2 py-3">
                                S/. 100.00
                            </td>
                            <td class="px-2 py-3">
                                10/08/2023 3:00pm
                            </td>
                        </tr>
                        <tr class="border-b hover:bg-gray-200 hover:text-black hover:cursor-pointer">
                            <td class="px-2 py-3">
                                01
                            </td>
                            <td class="px-2 py-3">
                                Pago a Persona X
                            </td>
                            <td class="px-2 py-3">
                                S/. 100.00
                            </td>
                            <td class="px-2 py-3">
                                10/08/2023 3:00pm
                            </td>
                        </tr>
                        <tr class="border-b hover:bg-gray-200 hover:text-black hover:cursor-pointer">
                            <td class="px-2 py-3">
                                01
                            </td>
                            <td class="px-2 py-3">
                                Pago a Persona X
                            </td>
                            <td class="px-2 py-3">
                                S/. 100.00
                            </td>
                            <td class="px-2 py-3">
                                10/08/2023 3:00pm
                            </td>
                        </tr>
                        <tr class="border-b hover:bg-gray-200 hover:text-black hover:cursor-pointer">
                            <td class="px-2 py-3">
                                01
                            </td>
                            <td class="px-2 py-3">
                                Pago a Persona X
                            </td>
                            <td class="px-2 py-3">
                                S/. 100.00
                            </td>
                            <td class="px-2 py-3">
                                10/08/2023 3:00pm
                            </td>
                        </tr>
                        <tr class="border-b hover:bg-gray-200 hover:text-black hover:cursor-pointer">
                            <td class="px-2 py-3">
                                01
                            </td>
                            <td class="px-2 py-3">
                                Pago a Persona X
                            </td>
                            <td class="px-2 py-3">
                                S/. 100.00
                            </td>
                            <td class="px-2 py-3">
                                10/08/2023 3:00pm
                            </td>
                        </tr>
                        <!--<tr *ngFor="let p of pedidos" class="border-b hover:bg-gray-200 hover:text-black hover:cursor-pointer">
                            <th  (click)="getDetallePedido(p)" scope="row" class="px-2 py-3 font-bold text-gray-900">
                                {{p.idpedido}}
                            </th>
                            <td (click)="getDetallePedido(p)" class="px-2 py-3">
                                <p [ngSwitch]="p?.estado?.toLowerCase()">
                                    <span *ngSwitchCase="'listo'" class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">{{p?.estado}}</span>
                                    <span *ngSwitchCase="'recibido'" class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">{{p?.estado}}</span>
                                </p>
                            </td>
                            <td  (click)="getDetallePedido(p)" class="px-2 py-3">
                                N° {{p.idmesa}}
                            </td>
                            <td  (click)="getDetallePedido(p)" class="px-2 py-3">
                                {{p.fecha}}
                            </td>
                        </tr>-->
                    </tbody>
                </table>
                <div *ngIf="false" class="border-b w-full py-3 px-4 text-gray-400 text-center">
                    <p>No se han registrado pedidos aun</p>
                </div>
                <div class="flex justify-between items-center mt-3" [ngClass]="{'hidden':false}">
                    <div class="text-sm text-gray-400">
                        <p>Mostrando <span>6</span> Resultados de <span>30</span></p>
                    </div>
                    <nav aria-label="">
                        <ul class="flex items-center -space-x-px h-10 text-base">
                          <li>
                            <a (click)="previous()" class="flex items-center justify-center px-2 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:border-sky-800 rounded-l-lg hover:bg-gray-800 hover:text-gray-700">
                              <span class="sr-only">Previous</span>
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                              </svg>
                            </a>
                          </li>
                          <li *ngFor="let p of pagination">
                            <a (click)="toNumber(p)" class="flex items-center justify-center px-2 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:border-sky-800 hover:bg-gray-800 hover:text-gray-700" [ngClass]="{'text-sky-700':p==currentIndex.toString(),'rounded-l-lg':currentIndex==1&&currentIndex.toString()==p,'rounded-r-lg':currentIndex==pagination.length&&currentIndex.toString()==p}">{{p}}</a>
                          </li>
                          <li>
                            <a (click)="next()" class="flex items-center justify-center px-2 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:border-sky-800 rounded-r-lg hover:bg-gray-800 hover:text-gray-700">
                              <span class="sr-only">Next</span>
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                              </svg>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>