<div id="popup-modal" tabindex="-1" [ngClass]="{'hidden':!showRegisterOk}" class="fixed top-0 left-0 right-0 z-40 p-4 bg-black bg-opacity-10 overflow-x-hidden overflow-y-auto md:inset-0 h-full">
    <div class="relative w-full max-h-full">
        <div class="relative w-[500px] mt-[150px] bg-white rounded-lg shadow mx-auto">
            <button (click)="closeModal()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center " data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 mx-auto fill-green-500">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                </svg>   
                <div>
                    <h3 class="my-2 text-lg font-normal text-gray-500">Pedido Registrado de manera exitosa</h3>
                    <p class="text-center mb-1">Detalles</p>
                    <table class="w-full text-center text-sm text text-gray-500 mx-auto">
                        <thead class="text-xs sticky top-0 left-0 right-0 z-10 text-white uppercase bg-sky-950">
                            <tr>
                                <th scope="col" class="px-4 py-3">
                                    # Pedido
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    Estado
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    N° Mesa
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b border-gray-200">
                                <td class="px-2 py-4">
                                    {{orderRegistered?.idpedido}}
                                </td>
                                <td class="px-2 py-4">
                                    <p [ngSwitch]="orderRegistered?.estado?.toLowerCase()">
                                        <span *ngSwitchCase="'listo'" class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">{{orderRegistered?.estado}}</span>
                                        <span *ngSwitchCase="'recibido'" class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">{{orderRegistered?.estado}}</span>
                                    </p>
                                </td>
                                <td class="px-2 py-4"><p class="bg-yellow-400 text-black px-2 py-1 rounded-lg">{{orderRegistered?.idmesa}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>               
                <button (click)="closeModal()" data-modal-hide="popup-modal" type="button" class="text-gray-500 mt-3 bg-white hover:bg-gray-500  rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 ">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-modal" tabindex="-1" [ngClass]="{'hidden':!showNoOrderItems}" class="fixed top-0 left-0 right-0 z-40 p-4 bg-black bg-opacity-10 overflow-x-hidden overflow-y-auto md:inset-0 h-full">
    <div class="relative w-full max-h-full">
        <div class="relative w-[500px] mt-[150px] bg-white rounded-lg shadow mx-auto">
            <button (click)="closeModalError()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center " data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-20 h-20 mx-auto fill-red-500">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                </svg>   
                <div>
                    <h3 class="my-2 text-lg font-normal text-gray-500">No puede registrar un pedido sin haber elegido al menos un producto</h3>
                </div>               
                <button (click)="closeModalError()" data-modal-hide="popup-modal" type="button" class="text-gray-500 mt-3 bg-white hover:bg-gray-500  rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 ">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-cols-[1fr_.5fr] gap-2">
    <div class="">
        <p class="bg-sky-700 text-white py-2 px-4 flex flex-col justify-center">Platos disponibles:</p>
        <div class="px-2 py-2">
            <div class="grid grid-cols-6 gap-2 animate-pulse" [ngClass]="{'hidden':categoriasapi.length>0}">
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
                <div class="h-[40px] w-full mx-auto bg-gray-200 rounded-md"></div>
            </div>
            <div class="grid grid-cols-6 gap-1" [ngClass]="{'hidden':categoriasapi.length==0}">
                <div class="flex items-center justify-center w-full" *ngFor="let cat of categoriasapi" (click)="getProductsByCategory(cat)">
                    <div class="w-full text-white text-center rounded-md px-2 xl:px-4 py-2 h-[40px] hover:bg-yellow-400 hover:cursor-pointer" [ngClass]="{'bg-yellow-300':!cat.actived,'bg-yellow-400':cat.actived}">
                        <p class="text-[13px] xl:text-base h-[18px] overflow-hidden uppercase">{{cat.nombre}}</p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-between">
                <div class="flex flex-row justify-between mb-2">
                    <p class="text-gray-500 my-2">Resultados:</p>
                    <div class="flex justify-around gap-1 bg-green-400 rounded-xl px-1 py-1">
                        <div (click)="isSoles=true;rateString='S/.';rate=1" class="flex justify-center items-center rounded-xl text-center text-white font-bold" [ngClass]="{'bg-green-500':isSoles}">
                            <div class="px-1 py-1">
                                <p class="w-6 h-6">S/.</p>
                            </div>
                        </div>
                        <div (click)="exchangeRateApi(); isSoles=false" class="flex justify-center items-center rounded-xl text-white text-center" [ngClass]="{'bg-green-500':!isSoles}">
                            <div class="px-1 py-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z" />
                                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z" clip-rule="evenodd" />
                                </svg>    
                            </div>                    
                        </div>
                    </div>
                </div>
                <div class="h-[425px]">
                    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 animate-pulse" [ngClass]="{'hidden':productosshow.length>0}">
                        <div class="rounded-md border-1 border-gray-200 h-[212px]"><div class="h-full flex flex-col justify-between pt-3"><div class="rounded-md mx-auto bg-gray-200 lg:h-[100px] lg:w-[120px]"></div><div class="px-4"><div class="h-[30px] w-full bg-gray-200 rounded-md"></div></div><div class="flex justify-between items-center"><div class="px-2 w-full"><p class="w-10/12 mx-auto text-center h-[20px] bg-gray-200 rounded-md"></p></div><a class="bg-gray-200 rounded-md px-4 py-1 text-white h-[35px] hover:bg-sky-950 hover:cursor-pointer"></a></div></div></div>
                        <div class="rounded-md border-1 border-gray-200 h-[212px]"><div class="h-full flex flex-col justify-between pt-3"><div class="rounded-md mx-auto bg-gray-200 lg:h-[100px] lg:w-[120px]"></div><div class="px-4"><div class="h-[30px] w-full bg-gray-200 rounded-md"></div></div><div class="flex justify-between items-center"><div class="px-2 w-full"><p class="w-10/12 mx-auto text-center h-[20px] bg-gray-200 rounded-md"></p></div><a class="bg-gray-200 rounded-md px-4 py-1 text-white h-[35px] hover:bg-sky-950 hover:cursor-pointer"></a></div></div></div>
                        <div class="rounded-md border-1 border-gray-200 h-[212px]"><div class="h-full flex flex-col justify-between pt-3"><div class="rounded-md mx-auto bg-gray-200 lg:h-[100px] lg:w-[120px]"></div><div class="px-4"><div class="h-[30px] w-full bg-gray-200 rounded-md"></div></div><div class="flex justify-between items-center"><div class="px-2 w-full"><p class="w-10/12 mx-auto text-center h-[20px] bg-gray-200 rounded-md"></p></div><a class="bg-gray-200 rounded-md px-4 py-1 text-white h-[35px] hover:bg-sky-950 hover:cursor-pointer"></a></div></div></div>
                        <div class="rounded-md border-1 border-gray-200 h-[212px]"><div class="h-full flex flex-col justify-between pt-3"><div class="rounded-md mx-auto bg-gray-200 lg:h-[100px] lg:w-[120px]"></div><div class="px-4"><div class="h-[30px] w-full bg-gray-200 rounded-md"></div></div><div class="flex justify-between items-center"><div class="px-2 w-full"><p class="w-10/12 mx-auto text-center h-[20px] bg-gray-200 rounded-md"></p></div><a class="bg-gray-200 rounded-md px-4 py-1 text-white h-[35px] hover:bg-sky-950 hover:cursor-pointer"></a></div></div></div>
                        <div class="rounded-md border-1 border-gray-200 h-[212px]"><div class="h-full flex flex-col justify-between pt-3"><div class="rounded-md mx-auto bg-gray-200 lg:h-[100px] lg:w-[120px]"></div><div class="px-4"><div class="h-[30px] w-full bg-gray-200 rounded-md"></div></div><div class="flex justify-between items-center"><div class="px-2 w-full"><p class="w-10/12 mx-auto text-center h-[20px] bg-gray-200 rounded-md"></p></div><a class="bg-gray-200 rounded-md px-4 py-1 text-white h-[35px] hover:bg-sky-950 hover:cursor-pointer"></a></div></div></div>
                        <div class="rounded-md border-1 border-gray-200 h-[212px]"><div class="h-full flex flex-col justify-between pt-3"><div class="rounded-md mx-auto bg-gray-200 lg:h-[100px] lg:w-[120px]"></div><div class="px-4"><div class="h-[30px] w-full bg-gray-200 rounded-md"></div></div><div class="flex justify-between items-center"><div class="px-2 w-full"><p class="w-10/12 mx-auto text-center h-[20px] bg-gray-200 rounded-md"></p></div><a class="bg-gray-200 rounded-md px-4 py-1 text-white h-[35px] hover:bg-sky-950 hover:cursor-pointer"></a></div></div></div>
                    </div>
                    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4" [ngClass]="{'hidden':productosshow.length==0}">
                        <div class="rounded-md border-1 border-sky-800" *ngFor="let product of productosshow">
                            <div class="">
                                <img class="w-full lg:h-[105px] lg:w-[105px] mx-auto" src="/assets/images/producto.png" alt="Producto">
                                <div class="h-[50px] overflow-hidden flex flex-col items-center justify-start text-center capitalize">
                                    <p class="">{{product?.nombre}}</p>
                                    <span class="text-gray-400 text-[14px] px-4">{{product?.descripcion}}</span>
                                </div>
                                <div class="flex justify-between">
                                    <p class="w-full text-center text-[18px]"><span [ngClass]="{'line-through text-gray-400 mr-2 text-sm':!isSoles}">{{rateString}} {{(product?.precio! / rate).toFixed(2)}}</span> <span [ngClass]="{'hidden':isSoles}">{{rateString}} {{math.ceil(product?.precio! / rate)}}</span></p>
                                    <a class="bg-sky-800 rounded-md px-2 py-1 text-white text-[20px] hover:bg-sky-950 hover:cursor-pointer" (click)="add(product)">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>                                          
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end" [ngClass]="{'hidden':productosshow.length==0}">
                    <nav aria-label="">
                        <ul class="flex items-center -space-x-px h-10 text-base">
                          <li>
                            <a (click)="previous()" [ngClass]="{'hidden':currentIndex==1}" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:border-sky-800 rounded-l-lg hover:bg-gray-800 hover:text-gray-700">
                              <span class="sr-only">Previous</span>
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                              </svg>
                            </a>
                          </li>
                          <li *ngFor="let p of pagination">
                            <a (click)="toNumber(p)" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:border-sky-800 hover:bg-gray-800 hover:text-gray-700" [ngClass]="{'text-sky-700':p==currentIndex.toString(),'rounded-l-lg':currentIndex==1&&currentIndex.toString()==p,'rounded-r-lg':currentIndex==pagination.length&&currentIndex.toString()==p}">{{p}}</a>
                          </li>
                          <li>
                            <a (click)="next()" [ngClass]="{'hidden':currentIndex==pagination.length}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:border-sky-800 rounded-r-lg hover:bg-gray-800 hover:text-gray-700">
                              <span class="sr-only">Next</span>
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                              </svg>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <p class="bg-sky-700 text-white py-2 px-4 flex flex-col justify-center">Detalles de la orden:</p>
        <div class="detail-wrapp">
            <div class="px-3">
                <div class="row-custom">
                    <p><strong>Camarero:</strong></p>
                    <p class="capitalize">{{user?.username}}</p>
                </div>
                <div class="row-custom">
                    <p><strong>N° Mesa:</strong></p>
                    <p>N° {{table}}</p>
                </div>
            </div>
            <div class="w-full relative  overflow-y-scroll overflow-hidden h-[500px] border-b border-gray-200">
                <table class="w-full text-center text-sm text text-gray-500 mx-auto">
                    <thead class="text-xs sticky top-0 left-0 right-0 z-10 text-white uppercase bg-sky-950">
                        <tr>
                            <th scope="col" class="px-4 py-3">
                                Cantidad
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Descripcion
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Subtotal
                            </th>
                            <th scope="col" class="px-2 py-3">
                                Accion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of order" class="border-b border-gray-200">
                            <td class="px-2 py-4">
                                <div class="row-custom-center">
                                    <a class="btn-counter" (click)="decrement(item)">-</a>
                                    <p>{{item.cantidad}}</p>
                                    <a class="btn-counter" (click)="increment(item)">+</a>
                                </div>
                            </td>
                            <td class="px-2 py-4"><p>{{item.descripcion}}</p></td>
                            <td class="px-2 py-4">S/.{{item.subtotal}}</td>
                            <td class="px-2 py-4">
                                <div class="action">
                                    <div (click)="remove(item)" class="tooltip-custom">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-red-500 hover:cursor-pointer hover:fill-red-800">
                                            <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375z" />
                                            <path fill-rule="evenodd" d="M3.087 9l.54 9.176A3 3 0 006.62 21h10.757a3 3 0 002.995-2.824L20.913 9H3.087zm6.133 2.845a.75.75 0 011.06 0l1.72 1.72 1.72-1.72a.75.75 0 111.06 1.06l-1.72 1.72 1.72 1.72a.75.75 0 11-1.06 1.06L12 15.685l-1.72 1.72a.75.75 0 11-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                                        </svg>  
                                        <p class="tooltiptext bg-red-500 left-[-10px]">Eliminar</p>  
                                    </div> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="order.length==0" class="border-b w-full py-2 px-4 text-gray-400 text-center">
                    <p>Debe seleccionar productos</p>
                </div>
            </div>
            <div class="my-4" *ngIf="order.length > 0"><p>Total: <strong>S/.{{total}}</strong></p></div>
            <div class="hidden">
                <table class="table-component w-100">
                    <tr class="table-title-component t-detalle">
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Subtotal</th>
                        <th>Accion</th>
                    </tr>
                    <tr *ngIf="order.length == 0">Debe seleccionar productos</tr>
                    <tr *ngFor="let item of order">
                        <td>
                            <div class="row-custom-center">
                                <a class="btn-counter" (click)="decrement(item)">-</a>
                                <p>{{item.cantidad}}</p>
                                <a class="btn-counter" (click)="increment(item)">+</a>
                            </div>
                        </td>
                        <td><p>{{item.descripcion}}</p></td>
                        <td>S/.{{item.subtotal}}</td>
                        <td>
                            <div class="action">
                                <p class="tooltip-container"><span class="tooltip remove">Remove</span></p>
                                <a (click)="remove(item)"><img src="/assets/icons/delete.png" alt=""></a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div *ngIf="order.length > 0"><p>Total: <strong>S/.{{total}}</strong></p></div>
            </div>
            <div class="grid grid-cols-2 justify-center items-center px-4 mt-4 gap-4">
                <a class="text-center bg-sky-700 rounded-md px-4 py-2 text-white hover:bg-sky-900 hover:cursor-pointer" (click)="registerOrder()">Registrar</a>
                <a class="text-center bg-red-800 rounded-md px-4 py-2 text-white hover:bg-red-900 hover:cursor-pointer" (click)="cancelOrder()">Cancelar</a>
            </div>
        </div>
    </div>
    <!--<div *ngIf="showNotification">
        <div class="notification">
            <p>Producto Agregado Correctamente</p>
        </div>
    </div>-->
</div>