<!--<div>
    <h1>Solar Marino</h1>
    <form [formGroup]="form" (ngSubmit)="login()">
      <label for="username"> Username </label>
      <input
        type="text"
        name="username"
        formControlName="username"
        autocomplete="off"
      />
      <label for="password">Password </label>
      <input type="password" name="password" formControlName="password" />
      <p *ngIf="form.hasError('invalidCredentials')" class="error-msg">
        Las credenciales son incorrectas
      </p>
      <button type="submit" [disabled]="form.invalid || processingRequest">
        Iniciar Sesión
      </button>
    </form>
  </div> -->
<div class="bg-image">
  <div class="container mx-auto row align-items-center justify-content-center justify-content-lg-end vh-100">
    <div class="card text-bg-light col-xs-10 col-sm-8 col-lg-4">
        <div class="card-body">
          <div class="authBlock">
            <div class="logo-container">
              <img class="logo" src="../../../assets/icons/logo.png" alt="">
            </div>
            
            <h3 class="text-center text-primary-custom">Bienvenido</h3>
            <form [formGroup]="form" (ngSubmit)="login()">
              <div class="formGroup">
                <label for="" class="form-label">Correo:</label> 
                <input type="text" name="username" formControlName="username" autocomplete="off" class="form-control mb-2" placeholder="Ingrese su correo" #userName required>
              </div>
              <div class="form-group">
                <label for="" class="form-label">Contraseña:</label>
                <input type="password" name="password" formControlName="password" class="form-control mb-2" placeholder="Ingrese su contraseña" #userPassword required>
              </div>
              <p *ngIf="form.hasError('invalidCredentials')" class="error-msg">
                Las credenciales son incorrectas
              </p>
              <button class="btn-primary-custom w-100 my-2" type="submit" [disabled]="form.invalid || processingRequest">
                Iniciar Sesión
              </button>
            </form>
          </div>
          <!--<div class="redirectToLogin mt-2 text-center">
            <span>Don't have an account?<span class="redirect text-primary" routerLink="/register-user"> Sign Up</span></span>
          </div>-->
        </div>
    </div>
  </div>
</div>
