.table {
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 3rem 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .container-header { 
        grid-area: 1 / 1 / 2 / 3; 
        background-color: red;
    }
    .container-content { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    .container-nav { 
        grid-area: 2 / 2 / 3 / 3; 
        display: flex;
        flex-direction: column;
    }
    .btn-nav{
        background-color: wheat;
        writing-mode: vertical-rl;
        text-orientation: upright;
        white-space: nowrap;
        padding: .5rem 1rem;
        text-decoration: none;
        color: white;
        margin: .1rem 0;
    }
    .btn-nav:hover{
        background-color: yellow;
        color: black;
    }
