<div class="p-2 w-full h-full flex flex-col items-center justify-center gap-6 lg:gap-6">
    <div class="row-start-1 row-end-2 w-full mx-auto grid grid-cols-1 md:grid-cols-2 gap-y-4 lg:flex lg:flex-row  justify-center items-center">
        <div class="relative p-2 w-[240px] h-[150px] md:w-[240px] md:h-[180px] xl:w-[350px] mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="absolute top-[-10px]">
                <img src="./assets/icons/caja-registradora.png" alt="" class=" ">
            </div>
            <div class="text-lg absolute left-0 right-0 top-[40%]">
                <p class="text-gray-500 pl-5">Dinero en Caja:</p>
                <p class="text-black font-semibold pr-5 text-end">1</p>
            </div>
            <div class="absolute flex items-center gap-1 text-gray-200 bottom-0 left-3 w-[90%] border-t border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
                <p class="text-xs py-1">Actualizado a las <span class="font-semibold">10:00am</span></p>
            </div>
        </div>
        <div class="relative p-2 w-[240px] h-[150px] md:w-[260px] md:h-[180px] xl:w-[350px] mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="absolute top-[-10px]">
                <img src="./assets/icons/mesa-redonda.png" alt="" class=" ">
            </div>
            <div class="text-lg absolute left-0 right-0 top-[40%]">
                <p class="text-gray-500 pl-5">Usuarios Registrados:</p>
                <p class="text-black font-semibold pr-5 text-end">1</p>
            </div>
            <div class="absolute flex items-center gap-1 text-gray-200 bottom-0 left-3 w-[90%] border-t border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
                <p class="text-xs py-1">Actualizado a las <span class="font-semibold">10:00am</span></p>
            </div>
        </div>
        <div class="relative p-2 w-[240px] h-[150px] md:w-[260px] md:h-[180px] xl:w-[350px] mx-auto border border-gray-300 rounded-md shadow-sm">
            <div class="absolute top-[-10px]">
                <img src="./assets/icons/pedido-en-linea.png" alt="" class=" ">
            </div>
            <div class="text-lg absolute left-0 right-0 top-[40%]">
                <p class="text-gray-500 pl-5">Pedidos Realizados:</p>
                <p class="text-black font-semibold pr-5 text-end">1</p>
            </div>
            <div class="absolute flex items-center gap-1 text-gray-200 bottom-0 left-3 w-[90%] border-t border-gray-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>                  
                <p class="text-xs py-1">Actualizado a las <span class="font-semibold">10:00am</span></p>
            </div>
        </div>
    </div>
    <div class="w-full 2xl:w-11/12 2xl:px-3 grid grid-cols-1 lg:grid-cols-[1fr_.8fr] xl:grid-cols-[1fr_.5fr] gap-x-10 gap-y-10">
        <div class="p-2 w-full mx-auto border border-gray-300 rounded-md shadow-sm">
            <div id="chart" class="">
                <apx-chart
                  [series]="chartOptions.series!"
                  [chart]="chartOptions.chart!"
                  [dataLabels]="chartOptions.dataLabels!"
                  [plotOptions]="chartOptions.plotOptions!"
                  [xaxis]="chartOptions.xaxis!"
                  [title]="chartOptions.title!"
                ></apx-chart>
              </div>
        </div>
        <div class="p-2 w-full mx-auto border border-gray-300 rounded-md shadow-sm flex flex-col justify-center items-center">
            <div id="chart2" class="">
                <apx-chart
              [series]="chartOptionsPie.series!"
              [chart]="chartOptionsPie.chart!"
              [labels]="chartOptionsPie.labels!"
              [responsive]="chartOptionsPie.responsive!"
            ></apx-chart>
              </div>
        </div>
    </div>
</div>