<div class="general-container unit-container vh-100">
    <div class="main-content-wrapp">
        <p class="welcome">Bienvenido al Sistema Web del Solar Marino</p>
        <p class="welcome-info">Segun su rol de <strong>{{user?.role}}</strong> Tiene acceso a los siguientes modulos:</p>
        <div class="row-custom w-50">
            <p>MODULO DE </p>
            <nav class="navigation">
                <a *smShowForRoles="['Orders', 'Manager']" routerLink="/orders/tables" class="activelink item-link">Pedidos</a>
                <a *smShowForRoles="['Kitchen', 'Manager']" routerLink="/kitchen" class="activelink item-link">Cocina</a>
                <a *smShowForRoles="['Customer', 'Manager']" routerLink="/customer" class="activelink item-link">Clientes</a>
                <a *smShowForRoles="['Cashier', 'Manager']" routerLink="/cashier/home"  class="activelink item-link">Cajero</a>
                <a *smShowForRoles="['Manager']" routerLink="/admin/home"  class="activelink item-link">Administracion</a>
            </nav>
        </div>
    </div>
</div>