<div class="grid grid-rows-[70px_1fr_40px] grid-cols-1">
    <div class="grid grid-cols-[repeat(8,80px)] gap-1 overflow-x-scroll p-[2px]" [ngClass]="{'hidden':categoriaMostrar.length==0}">
        <div class="flex items-center justify-center w-[80px]" *ngFor="let cat of categoriaMostrar" (click)="getPlatosByCategory(cat)">
            <div class="w-full text-white text-center rounded-md px-1 xl:px-4 py-1 h-[30px] hover:bg-yellow-400 hover:cursor-pointer" [ngClass]="{'bg-yellow-300':!cat.actived,'bg-yellow-400':cat.actived}">
                <p class="text-[10px] xl:text-base h-[18px] overflow-hidden uppercase">{{cat.nombre}}</p>
            </div>
        </div>
    </div>
    <div class="px-2 pb-2 mt-2">
        <p class="capitalize text-center text-gray-400">Resultados: <span class="text-black">{{categoria}}</span></p>
        <div class="h-[565px] px-2 overflow-y-scroll">
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-2" [ngClass]="{'hidden':productosMostrar.length==0}">
                <div class="rounded-md border-1 border-sky-800" *ngFor="let product of productosMostrar">
                    <div class="py-2">
                        <img class="w-[60px] h-[60px] lg:h-[120px] lg:w-[120px] mx-auto" src="/assets/images/producto.png" alt="Producto">
                        <div class="h-[45px] overflow-hidden flex flex-col items-center text-center capitalize" [ngClass]="{'justify-center':product?.descripcion==null,'justify-start':product?.descripcion!=null}">
                            <p class="text-[14px]">{{product?.nombre}}</p>
                            <span class="text-gray-400 text-[12px] px-4">{{product?.descripcion}}</span>
                        </div>
                        <div class="flex justify-between">
                            <p class="w-full text-center text-[15px] font-bold">S/. <span>{{product?.precio}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-2">
        <div class="grid grid-cols-2 gap-2">
            <a class="bg-sky-700 text-white rounded-md px-2 py-2 text-center" [ngClass]="{'bg-sky-900':selectedPlatos}" (click)="changeProducsCategoriesPlatos()">Platos</a>
            <a class="bg-sky-700 text-white rounded-md px-2 py-2 text-center" [ngClass]="{'bg-sky-900':!selectedPlatos}" (click)="changeProducsCategoriesBebidas()">Bebidas</a>
        </div> 
    </div>
</div>




<div class="contenido hidden">
    <div class="category-container hidden">
        <div class="food-category-2">
            <div *ngFor="let cat of categoriaMostrar" (click)="getPlatosByCategory(cat)">
                <div [ngClass]="{'category':true,'category-activated':cat.actived}">
                    <p>{{cat.nombre}}</p>
                </div>
            </div>
        </div> 
        <p>Resultados: <span>{{categoria}}</span></p>
    </div>
    <div class="productos-container">
        <div class="food-results-2">
            <div class="results-2">
                <div class="results" *ngFor="let product of productosMostrar">
                    <div class="product">
                        <img class="product-img" src="/assets/images/producto.png" alt="Producto">
                        <p class="product-name capitalize">{{product?.nombre}}<br><span class="texto-opcional">{{product?.descripcion}}</span></p>
                        <div class="product-option">
                            <p>S/. <span>{{product?.precio}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="option-container">
        <div class="options-custom">
            <a [ngClass]="{'btn-platos-custom':true,'btn-platos-custom-active':selectedPlatos}" (click)="changeProducsCategoriesPlatos()">Platos</a>
            <a [ngClass]="{'btn-platos-custom':true,'btn-platos-custom-active':!selectedPlatos}" (click)="changeProducsCategoriesBebidas()">Bebidas</a>
        </div>
        
    </div>
</div>
<div class="hide">
    <div class="">
        <div class="">
            
        </div>
    </div>
    <div class="detail-content hide">
        <p>Bebidas disponibles:</p>
        <div class="food-wrapp">
            <div class="food-category">
                <div *ngFor="let cat of categoriasapi" (click)="getBebidasByCategory(cat)">
                    <div [ngClass]="{'category':true,'category-activated':cat.actived}" *ngIf="cat.idcategoria>=14 && cat.idcategoria<=17">
                        <p>{{cat.nombre}}</p>
                    </div>
                </div>
            </div>
            <div class="food-results">
                <p>Resultados:</p>
                <div class="results">
                    <div class="results" *ngFor="let product of bebidos">
                        <div class="product">
                            <img class="product-img" src="/assets/images/producto.png" alt="Producto">
                            <p class="product-name">{{product?.nombre}}</p>
                            <div class="product-option">
                                <p>S/. <span>{{product?.precio}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>