
<div class="general-container kitchen-container vh-100">
    <aside class="aside nav-items">
        <div class="aside-content">
            <a routerLink="menu" routerLinkActive="active" class="link">
                <img class="icon" src="/assets/icons/home.png" alt="">
                <p>Menu Digital</p> 
            </a>
            <a routerLink="valoracion" routerLinkActive="active" class="link">
                <img class="icon" src="/assets/icons/home.png" alt="">
                <p>Valoracion</p> 
            </a>
        </div>
    </aside>
    <main class="h">
        <router-outlet></router-outlet>
    </main>
</div>
